body {
    margin: 0;
    font-family: "Lucida Console", "Courier New", monospace;
}

h1 {
    text-align:center;
}

.outer {
    width: 100%; 
    /* border:2px black solid; */
}
.outer:before,.outer:after { overflow:hidden; content:""; display:table; }
.outer:after { clear:both; }
.inner {
    display: inline-block;
    float: left;
    width:50%;
}
.inner img { width:100%; height:auto; vertical-align:middle; }